body {
  background-color: red;
  background-image: url(158c4e38dd965755815da4c63eb038f2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #26d4e8;
  color: #fff;
  font-size: 1.8rem; }

